@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive, sans-serif;
  color: rgb(104, 77, 9);
}
button {
  font-size: 1.1rem;
  padding-inline: 10px;
  padding-block: 5px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid rgb(104, 77, 9);
  color: rgb(104, 77, 9);

  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in-out 0.25s;
}
button:hover {
  background-color: rgb(104, 77, 9);
  color: rgb(221, 204, 172);
  border: 1px solid rgb(104, 77, 9);
}

button:disabled {
  background-color: rgba(104, 77, 9, 0.5);
  color: rgb(221, 204, 172);
  border: 1px solid rgb(104, 77, 9, 0.5);
}

/* APP CSS */
.app {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(221, 204, 172);
  padding-bottom: 25px;
}

.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: -5%;
}

.start-screen,
.final-screen {
  text-align: center;
  padding-top: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  background-color: rgb(221, 204, 172);
  min-height: 100vh;
  width: 100%;
}

.start-screen h1 {
  font-size: 2.5rem;
}
.start-screen h2 {
  font-weight: 500;
  font-size: 2rem;
}

.question-screen {
  width: 75%;
  margin: auto;
  padding-top: 5%;
}

.answer-form h3 {
  font-size: 1.5rem;
}

.single-answer-radio {
  padding-block: 5px;
  margin-left: 2.5px;
  font-size: 1.25rem;
  display: flex;
  gap: 7.5px;
  justify-content: start;
  align-items: center;
}

.boolean-answer input[type="radio"],
.single-answer-radio input[type="radio"] {
  accent-color: rgb(104, 77, 9);
}
.text-answer {
  padding-block: 20px;
  font-size: 1.25rem;
}

.text-answer input {
  background-color: transparent;
  font-size: 1.25rem;
  outline: none;
  border: 1px solid rgb(104, 77, 9);
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 4px;
  min-width: 50%;
  max-width: 100%;
}
.button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 25px;
}

.question-screen form {
  font-size: 1.25rem;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.level {
  padding-inline: 10px;
  padding-block: 5px;
  background: rgb(104, 77, 9);

  color: rgb(221, 204, 172);

  border-radius: 5px;
}
.loader {
  width: 100%;
  height: 100vh;
  background-color: rgb(221, 204, 172);
  color: rgb(104, 77, 9);
  text-align: center;
  padding: 20px;
}

@media (max-width: 750px) {
  * {
    font-size: 1rem;
  }
  .header {
    font-size: 1.5rem;
  }
  .start-screen h1 {
    font-size: 1.5rem;
  }
  .start-screen h2 {
    font-size: 1.2rem;
  }
  button {
    font-size: 0.75rem;
  }
  .boolean-answer input[type="radio"],
  .single-answer-radio input[type="radio"] {
    height: 12.5px;
    width: 12.5px;
  }
}

@media (max-width: 450px) {
  * {
    font-size: 0.9rem;
  }
  .header {
    font-size: 1.25rem;
  }
  .start-screen h1 {
    font-size: 1.25rem;
  }
  .start-screen h2 {
    font-size: 1rem;
  }
  button {
    font-size: 0.6rem;
  }
  .boolean-answer input[type="radio"],
  .single-answer-radio input[type="radio"] {
    height: 10px;
    width: 10px;
  }
}
